<div class="well">
  <h2>Advanced Search</h2>
  <%= simple_form_for :search, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} }, html: { novalidate: true }, method: :get, url: crews_advanced_search_path do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :name %>
        <%= f.input :vessel, as: :select, collection: Vessel.all %>
        <%= f.input :rank, collection: Rank.all %>
        <%= f.input :principal, collection: Principal.all %>
        <hr>
        <%= f.submit "Search", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>



