<div class="for_non_mobile">
  <div class="row details">
    <div class="col-md-12">
      <table class="table table-bordered table-stripped">
         <tr>  
          <th class="label-c">Type</th>
          <th class="label-c">Number</th>
          <th class="label-c">Date Issued</th>
          <th class="label-c">Expiry Date</th>
          <th class="label-c">Issued By</th>
          <th class="label-c">Actions</th>
         </tr>
        <% certificates.each do |certificate| %>
          <tr>
            <td class="label-d-a"><%= certificate.certificate_type %></td>
            <td class="label-d-a"><%= certificate.reverting? ? 'REVERTING' : certificate.certificate_number %></td>
            <td class="label-d-a">
              <% if !certificate.date_issued.nil? %>
                <%= certificate.date_issued.strftime('%d-%b-%Y') %>
              <% end %>
            </td>
            <td class="label-d-a" style="background-color: <%= certificate.certificate_expiry %>;">
              <% if !certificate.expiry_date.nil? %>
                <%= certificate.expiry_date.strftime('%d-%b-%Y') %>
              <% end %>
            </td>
            <td class="label-d-a"><%= certificate.issued_by %></td>
            <td class="label-d-a">
              <% if certificate.attachment.exists? %>
                <%= link_to "Download", certificate.attachment.url, target: "_blank", class: "btn btn-default btn-xs" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="for_mobile">
  <div class="row details">
    <div class="col-md-12">
     <% certificates.each do |certificate| %>
      <table class="table table-bordered table-stripped" style="font-size: 14px;">
         <tr>  
          <th>Type</th>
          <td><%= certificate.certificate_type %></td>
         </tr>
         <tr>
          <th>Number</th>
          <td><%= certificate.reverting? ? 'REVERTING' : certificate.certificate_number %></td>
         </tr>
         <tr>
          <th>Date Issued</th>
          <td>
              <% if !certificate.date_issued.nil? %>
                <%= certificate.date_issued.strftime('%d-%b-%Y') %>
              <% end %>
            </td>
         </tr>
         <tr>
          <th>Expiry Date</th>
          <td>
              <% if !certificate.expiry_date.nil? %>
                <%= certificate.expiry_date.strftime('%d-%b-%Y') %>
              <% end %>
          </td>
         </tr>
         <tr>
          <th>Issued By</th>
          <td><%= certificate.issued_by %></td>
         </tr>
         <tr>
          <th>Actions</th>
          <td>
              <% if certificate.attachment.exists? %>
                <%= link_to "Download", certificate.attachment.url, target: "_blank" %>
              <% end %>
            </td>
         </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
