<div class="for_non_mobile">
  <div class="row">
      <table class="table table-bordered table-stripped">
        <tr>
          <th class="label-d">Year</th>
          <th class="label-d">School</th>
          <th class="label-d">Course Finished</th>
        </tr>
        <% educational_attainments.each do |ea| %>
          <tr>
            <td class="label-d-a"><%= ea.year_graduated %></td>
            <td class="label-d-a"><%= ea.school %></td>
            <td class="label-d-a"><%= ea.course_finished %></td>
          </tr>
        <% end %>
      </table>
    </div>
</div>

<div class="for_mobile">
  <div class="row">
    <% educational_attainments.each do |ea| %>
      <table class="table table-bordered table-stripped" style="font-size: 14px;">
        <tr>
          <th>Year</th>
          <td><%= ea.year_graduated %></td>
        </tr>
        <tr>
          <th>School</th>
          <td><%= ea.school %></td>
        </tr>
        <tr>
          <th>Course Finished</th>
          <td><%= ea.course_finished %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
