<table class="table table-bordered table-stripped">
    <tr>  
        <th class="label-d">Vessel Name</th>
        <th class="label-d">Flag</th>
        <th class="label-d">Type</th>
        <th class="label-d">Horse Power</th>
        <th class="label-d">Engine Make</th>
        <th class="label-d">Engine Agent</th>
        <th class="label-d">Rank</th>
        <th class="label-d">Sign On</th>
        <th class="label-d">Sign Off</th>
        <th class="label-d">Reason of Disembarkation</th>
    </tr>
    <% employment_records.each do |employment_record| %> 
    <tr>
        <td class="label-d-a"><%= employment_record.vessel.name %></td>
        <td class="label-d-a"><%= employment_record.vessel.flag %></td>
        <td class="label-d-a"><%= employment_record.vessel.vessel_type %></td>
        <td class="label-d-a"><%= employment_record.vessel.horse_power %></td>
        <td class="label-d-a"><%= employment_record.vessel.engine_make %></td>
        <td class="label-d-a"><%= employment_record.manning_agent %></td>
        <td class="label-d-a"><%= employment_record.rank %></td>
        <td class="label-d-a"><%= employment_record.sign_on %></td>
        <td class="label-d-a"><%= employment_record.sign_off %></td>
        <td class="label-d-a"><%= employment_record.reason_of_disembarkation %></td>
    </tr>
    <% end %>
</table>