<%= f.link_to_add "<i class='glyphicon glyphicon-plus'></i> Add Certificate".html_safe, :certificates, class: "btn btn-info" %>
<br><br>
<div id="certificate_records">
  <%= f.simple_fields_for :certificates do |ff| %>
    <div class="well cform">
      <div class="row">
        <div class="col-md-3">
          <%= ff.association :certificate_type %>
        </div>
        <div class="col-md-3">
          <%= ff.association :certificate_category %>
        </div>
        <div class="col-md-3">
          <%= ff.input :certificate_number %>
        </div>
        <div class="col-md-3">
          <%= ff.association :flag, as: :select, collection: Flag.select("*").order(:name), input_html: { class: "select-select2" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <% if ff.object.date_issued.nil? %>
            <%= ff.input :date_issued, as: :string, input_html: { class: "datepick form-control" } %>
          <% else %>
            <%= ff.input :date_issued, as: :string, input_html: { value: ff.object.date_issued.strftime('%d-%B-%Y'), class: "datepick form-control" } %>
          <% end %>
        </div>
        <div class="col-md-3">
          <% if ff.object.expiry_date.nil? %>
            <%= ff.input :expiry_date, as: :string, input_html: { class: "datepick form-control" } %>
          <% else %>
            <%= ff.input :expiry_date, as: :string, input_html: { value: ff.object.expiry_date.strftime('%d-%B-%Y'), class: "datepick form-control" } %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= ff.input :issued_by %>
        </div>
        <div class="col-md-3">
          <%= ff.input :attachment, as: :file %>
        </div>
      </div>
      <%= ff.link_to_remove "<i class='glyphicon glyphicon-minus'></i> Remove Record".html_safe, class: "btn btn-danger", data: { confirm: "Are you sure?" }  %>
    </div>
  <% end %>
</div>

