<%= f.simple_fields_for :crew_vessel_evaluations do |ff| %>
  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <%= ff.association :vessel %>
      </div>
      <div class="col-md-4">
        <%= ff.input :date_of_evaluation, as: :string, input_html: { class: "datepick form-control" } %>
      </div>
      <div class="col-md-4">
        <%= ff.input :attachment, as: :file %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= ff.input :recommendation_letter, as: :file %>
      </div>
      <div class="col-md-4">
        <%= ff.input :training_record, as: :file %>
      </div>
    </div>
    <%= ff.link_to_remove "Remove Record", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
<%= f.link_to_add "Add Vessel Evaluation", :crew_vessel_evaluations, class: "btn btn-info" %>

