<%= f.simple_fields_for :documents do |ff| %>
  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <%= ff.association :document_kind %>
      </div>
      <div class="col-md-4">
        <%= ff.input :doc_number, label: "Document Number", input_html: { class: "form-control" }, placeholder: "Enter Document Number" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <%= ff.input :issued_at, as: :string, input_html: { class: "datepick form-control" } %>
      </div>
      <div class="col-md-4">
      <%= ff.input :expiry_date, as: :string, input_html: { class: "datepick form-control" } %>
      </div>
      <div class="col-md-4">
      <%= ff.input :issued_by, label: "Issued by", input_html: { class: "form-control" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= ff.input :attachment, as: :file %>
      </div>
    </div>
    <%= ff.link_to_remove "Remove Record", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
<%= f.link_to_add "Add Document", :documents, class: "btn btn-info" %>
