<div class="row">
  <div class="col-md-2">
    <%= image_tag f.object.picture.url(:standard) %>
  </div>
  <div class="col-md-4">
    <%= f.input :picture, as: :file %>
  </div>
</div>
<hr>
<div class="row crew_form">
  <div class="col-md-4">
    <%= f.input :firstname, label: "First Name", input_html: { class: "form-control" }, placeholder: "Enter First Name"%>
  </div>
  <div class="col-md-4">
    <%= f.input :middlename, label: "Middle Name", input_html: { class: "form-control" }, placeholder: "Enter Middle Name" %>
  </div>
  <div class="col-md-4">
    <%= f.input :lastname, label: "Last Name", input_html: { class: "form-control" }, placeholder: "Enter Last Name" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="row crew_form">       
        <div class="col-md-4">
          <%= f.input :code_number, label: "Code Number", input_html: { class: "form-control" }, placeholder: "Enter Code Number" %>
        </div>
        <div class="col-md-4">
          <%= f.input :date_employed, label: "Date Employed", as: :string, input_html: { value: (Time.now - 5.years).strftime('%Y-%m-%d'), class: "datepick form-control" } %>
        </div>
        <div class="col-md-4">
          <%= f.association :rank, label: "Current Rank", input_html: { class: "form-control" } %>
        </div>
      </div>

      <div class="row crew_form">
        <div class="col-md-4">
          <%= f.input :date_of_promotion, as: :string, input_html: { class: "datepick form-control" } %>
        </div>
        <div class="col-md-4">
          <%= f.input :sign_on, as: :string, input_html: { class: "datepick form-control" } %>
        </div>
        <div class="col-md-4">
          <%= f.association :vessel, label: "Vessel Assigned", input_html: { class: "form-control" } %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row crew_form">
   <div class="col-md-6">
     <%= f.input :address, label: "Address", input_html: { class: "form-control" }, placeholder: "Enter Address" %>
  </div>
   <div class="col-md-3">
      <%= f.input :telephone_no, label: "Telephone Number", input_html: { class: "form-control" }, placeholder: "Enter Telephone Number" %>
  </div>  
   <div class="col-md-3">
      <%= f.input :cellphone_no, label: "Cellphone Number", input_html: { class: "form-control" }, placeholder: "Enter Cellphone Number" %>
  </div>      
</div>

<div class="row crew_form">
  <div class="col-md-3">
   <%= f.input :birthday, label: "Birthday", as: :string, input_html: { class: "form-control datepick" } %>
  </div>
  <div class="col-md-3">
    <%= f.input :birthplace, label: "Birth Place", input_html: { class: "form-control" }, placeholder: "Enter Birth Place" %>
  </div>    
  <div class="col-md-3">
    <%= f.input :nationality, label: "Nationality", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Nationality" %>
  </div> 
  <div class="col-md-3">
    <%= f.input :civil_status, input_html: { class: "form-control" }, placeholer: "Enter civil status", as: :select, collection: ["single", "married", "widowed"] %>
  </div>
</div>
<div class="row crew_form"> 
  <div class="col-md-4">
    <%= f.input :height, label: "Height", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Height" %>
  </div> 
   <div class="col-md-4">
     <%= f.input :weight, label: "Weight", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Weight" %>
  </div> 
  <div class="col-md-4">
     <%= f.input :eye_color, label: "Eye Color", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Eye Color" %>
  </div>
</div>
<div class="row crew_form">
  <div class="col-md-6">
    <%= f.input :distinguishing_marks, as: :text, input_html: { class: "form-control" } %>
  </div>
  <div class="col-md-3">
    <%= f.input :cloth_size, as: :select, input_html: { class: "form-control input-size_age" }, collection: ["XS","S","M","L","XL"] %>
  </div> 
  <div class="col-md-3">
       <%= f.input :shoe_size, label: "Shoe Size", input_html: { class: "form-control" }, placeholder: "Enter Shoe Size" %>
  </div>
</div>

<div class="row crew_form">
  <div class="col-md-3">
    <%= f.input :sss_no, label: "SSS No.", input_html: { class: "form-control" }, placeholder: "Enter SSS Number" %>
  </div> 
  <div class="col-md-3">
    <%= f.input :tin_no, label: "TIN No.", input_html: { class: "form-control" }, placeholder: "Enter TIN Number" %>
  </div>
  <div class="col-md-3">
    <%= f.input :pagibig_number, label: "Pag-ibig Number", input_html: { class: "form-control" }, placeholder: "Enter Pag-ibig Number" %>
  </div>
  <div class="col-md-3">
    <%= f.input :philhealth_number, label: "Philhealth Number", input_html: { class: "form-control" }, placeholder: "Enter Pag-ibig Number" %>
  </div>
</div>
<div class="well">
  <div class="row crew_form">
     <div class="col-md-4">
         <%= f.input :nearest_relative_name, label: "Nearest Relative", input_html: { class: "form-control" }, placeholder: "Enter Nearest Ralative" %>
    </div>
     <div class="col-md-4">
         <%= f.input :nearest_relative_relationship, label: "Relationship", input_html: { class: "form-control" }, placeholder: "Enter Relationship" %>
    </div>
     <div class="col-md-4">
         <%= f.input :nearest_relative_address, label: "Address", input_html: { class: "form-control" }, placeholder: "Enter Address" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= f.input :signature, as: :file %>
    <%= image_tag f.object.signature.url(:list) %>
  </div>
</div>
