 <%= simple_nested_form_for crew, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f| %>
  <div class="">
    <div class="row crew_form fixing for_mobile_css">
      <div class="col-md-4">
        <%= f.input :firstname, label: "First Name", input_html: { class: "form-control" }, placeholder: "Enter First Name"%>
      </div>
      <div class="col-md-4">
        <%= f.input :middlename, label: "Middle Name", input_html: { class: "form-control" }, placeholder: "Enter Middle Name" %>
      </div>
      <div class="col-md-4">
        <%= f.input :lastname, label: "Last Name", input_html: { class: "form-control" }, placeholder: "Enter Last Name" %>
      </div>
    </div>

    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to "General", "#bio", "data-toggle" => "tab" %></li>
      <li><%= link_to "Licenses", "#licenses", "data-toggle" => "tab" %></li>
      <li><%= link_to "Certificates", "#certificates", "data-toggle" => "tab" %></li>
      <li><%= link_to "Personal Documents", "#documents", "data-toggle" => "tab" %></li>
      <% if current_user.user_type == "manager" %>
        <li><%= link_to "Vessel Evals", "#vessel_evaluations", "data-toggle" => "tab" %></li>
        <li><%= link_to "Office Evals", "#office_evaluations", "data-toggle" => "tab" %></li>
      <% end %>
      <li><%= link_to "Employment", "#employment_records", "data-toggle" => "tab" %></li>
    </ul>

    <div class="tab-content tab-content-inner infiniscroll">
      <div id="bio" class="tab-pane active">
        <%= render partial: "crews/form_bio", locals: { f: f } %>
      </div>
      <div id="licenses" class="tab-pane">
        <%= render partial: "crews/form_licenses", locals: { f: f } %>
      </div>
      <div id="certificates" class="tab-pane">
        <%= render partial: "crews/form_certificates", locals: { f: f } %>
      </div>
      <div id="documents" class="tab-pane">
        <%= render partial: "crews/form_documents", locals: { f: f } %>
      </div>
      <% if current_user.user_type == "manager" %>
        <div id="vessel_evaluations" class="tab-pane">
          <%= render partial: "crews/form_crew_vessel_evaluation", locals: { f: f } %>
        </div>
        <div id="office_evaluations" class="tab-pane">
          <%= render partial: "crews/form_crew_office_evaluation", locals: { f: f } %>
        </div>
      <% end %>
      <div id="employment_records" class="tab-pane">
        <%= render partial: "crews/form_employment_records", locals: { f: f } %>
      </div>
    </div>
 </div>

<% end %>


<script type="text/javascript">

$(document).on("ready page:load", function() {
  initDatePicker();

  $(document).on('nested:fieldAdded', function() {
    initDatePicker();
    $("select.select-select2").select2();
  });
});
  $('[data-toggle="tooltip"]').tooltip()
window.nestedFormEvents.insertFields = function(content, assoc, link) {
  var $div = $(link).closest('a');
  return $(content).insertAfter($div);
}



  var tabs =  $(".tabs li a");
  
  tabs.click(function() {
    var panels = this.hash.replace('/','');
    tabs.removeClass("active");
    $(this).addClass("active");
    $("#panels").find('span').hide();
    $(panels).fadeIn(200);
  });


});

window.nestedFormEvents.insertFields = function(content, assoc, link) {
  var $div = $(link).closest('a');
  return $(content).insertAfter($div);
}

</script>
