 <%= simple_nested_form_for crew, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f| %>
  <div class="for_mobile">
    <div class="row crew_form fixing_mobile">
      <div class="col-md-4">
        <%= f.input :firstname, label: "First Name", input_html: { class: "form-control" }, placeholder: "Enter First Name"%>
      </div>
      <div class="col-md-4">
        <%= f.input :middlename, label: "Middle Name", input_html: { class: "form-control" }, placeholder: "Enter Middle Name" %>
      </div>
      <div class="col-md-4">
        <%= f.input :lastname, label: "Last Name", input_html: { class: "form-control" }, placeholder: "Enter Last Name" %>
      </div>
    </div>

    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to "General", "#biodata-mobile", "data-toggle" => "tab" %></li>
      <li class=""><%= link_to "Licenses", "#licenses-mobile", "data-toggle" => "tab" %></li>
      <li class=""><%= link_to "Certificates", "#certificates-mobile", "data-toggle" => "tab" %></li>
      <li class=""><%= link_to "Personal Documents", "#documents-mobile", "data-toggle" => "tab" %></li>
      <% if current_user.user_type == "manager" %>
        <li class=""><%= link_to "Vessel Evaluations", "#vessel-evaluations-mobile", "data-toggle" => "tab" %></li>
        <li class=""><%= link_to "Office Evaluations", "#office-evaluations-mobile", "data-toggle" => "tab" %></li>
      <% end %>
      <li class=""><%= link_to "Employment", "#employment-record-mobile", "data-toggle" => "tab" %></li>
    </ul>
    
    <div class="tab-content tab-content-inner infiniscroll">
      <div class="tab-pane active" id="biodata-mobile">
        <%= render partial: "crews/form_bio", locals: { f: f } %>
      </div>
      <div class="tab-pane" id="licenses-mobile">
        <%= render partial: "crews/form_licenses", locals: { f: f } %>
      </div>
      <div class="tab-pane" id="certificates-mobile">
        <%= render partial: "crews/form_certificates", locals: { f: f } %>
      </div>
      <div class="tab-pane" id="employment-record-mobile">
        <%= render partial: "crews/form_employment_records", locals: { f: f } %>
      </div>
      <div class="tab-pane" id="documents-mobile">
        <%= render partial: "crews/form_documents", locals: { f: f } %>
      </div>
      <% if current_user.user_type == "manager" %>
        <div class="tab-pane" id="vessel-evaluations-mobile">
          <%= render partial: "crews/form_crew_vessel_evaluation", locals: { f: f } %>
        </div>
        <div class="tab-pane" id="office-evaluations-mobile">
          <%= render partial: "crews/form_crew_office_evaluation", locals: { f: f } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  initDatePicker();
  $(document).on('nested:fieldAdded', function() {
    initDatePicker();
  });
});

window.nestedFormEvents.insertFields = function(content, assoc, link) {
  var $div = $(link).closest('a');
  return $(content).insertAfter($div);
}
</script>
