<div class="row">
  <div class="col-md-2">
    <%= image_tag f.object.picture.url(:standard) %>
    <%= f.input :picture, as: :file, label: false %>
  </div>
  <div class="col-md-10">
    <div class="well">
      <div class="row">
        <div class="col-md-3">
          <%= f.association :rank, label: "Current Rank", input_html: { class: "form-control select-select2" } %>
        </div>
        <div class="col-md-3">
          <%= f.association :vessel, label: "Vessel Assigned", input_html: { class: "form-control select-select2" }, as: :select, collection: Vessel.select("*").order(:name), include_blank: "NONE" %>
        </div>
        <div class="col-md-3">
          <%= f.input :status, as: :select, collection: Crew::STATUSES %>
        </div>
        <div class="col-md-3">
          <% if f.object.sign_on.nil? %>
            <%= f.input :sign_on, as: :string, input_html: { class: "datepick form-control" } %>
          <% else %>
            <%= f.input :sign_on, as: :string, input_html: { value: f.object.sign_on.strftime('%d-%B-%Y'), class: "datepick form-control" } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="well">
      **Please input a new vessel name if vessel is not included in the list.
      <input name="new_vessel"/>
    </div>
  </div>
</div>
<hr>
<div class="row crew_form">
  <div class="col-md-4">
    <%= f.input :firstname, label: "First Name", input_html: { class: "form-control" }, placeholder: "Enter First Name"%>
  </div>
  <div class="col-md-4">
    <%= f.input :middlename, label: "Middle Name", input_html: { class: "form-control" }, placeholder: "Enter Middle Name" %>
  </div>
  <div class="col-md-4">
    <%= f.input :lastname, label: "Last Name", input_html: { class: "form-control" }, placeholder: "Enter Last Name" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="row crew_form">       
        <div class="col-md-4">
          <%= f.input :code_number, label: "Code Number", input_html: { class: "form-control" }, placeholder: "Enter Code Number" %>
        </div>
        <div class="col-md-4">
          <%= f.input :date_employed, label: "Date Employed", as: :string, input_html: { value: (Time.now - 5.years).strftime('%d-%B-%Y'), class: "datepick form-control" } %>
        </div>
      </div>

      <div class="row crew_form">
      </div>
    </div>
  </div>
</div>

<div class="row crew_form">
   <div class="col-md-6">
     <%= f.input :address, label: "Address", input_html: { class: "form-control" }, placeholder: "Enter Address" %>
  </div>
   <div class="col-md-3">
      <%= f.input :telephone_no, label: "Telephone Number", input_html: { class: "form-control" }, placeholder: "Enter Telephone Number" %>
  </div>  
   <div class="col-md-3">
      <%= f.input :cellphone_no, label: "Cellphone Number", input_html: { class: "form-control" }, placeholder: "Enter Cellphone Number" %>
  </div>      
</div>

<div class="row crew_form">
  <div class="col-md-6">
     <%= f.input :city_address, label: "City Address", input_html: { class: "form-control" }, placeholder: "Enter City Address" %>
  </div>
  <div class="col-md-6">
    <% if f.object.birthday.nil? %>
      <%= f.input :birthday, label: "Birthday", as: :string, input_html: { class: "form-control datepick" } %>
    <% else %>
      <%= f.input :birthday, label: "Birthday", as: :string, input_html: { value: f.object.birthday.strftime('%d-%B-%Y'), class: "form-control datepick" } %>
    <% end %>
  </div>
</div>

<div class="row crew_form">
  <div class="col-md-6">
   <%= f.input :provincial_address, label: "Provincial Address", input_html: { class: "form-control" }, placeholder: "Enter Provincial Address" %>
  </div>

  <div class="col-md-6">
  <%= f.input :birthplace, label: "Birth Place", input_html: { class: "form-control" }, placeholder: "Enter Birth Place" %>
 </div>   
 
</div>

<div class="row crew_form"> 
  <div class="col-md-3">
    <%= f.input :zip_code, label: "Zipcode", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Zipcode" %>
  </div> 
  <div class="col-md-3">
    <%= f.input :height, label: "Height (cm)", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Height" %>
  </div> 
   <div class="col-md-3">
     <%= f.input :weight, label: "Weight (kg)", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Weight" %>
  </div> 
  <div class="col-md-3">
     <%= f.input :eye_color, label: "Eye Color", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Eye Color" %>
  </div>
</div>
  
<div class="row crew_form"> 
 <div class="col-md-3">
    <%= f.input :blood_type, as: :select, input_html: { class: "form-control input-size_age" }, collection: ["A","B","AB","O"] %>
  </div> 
  <div class="col-md-3">
     <%= f.input :blood_pressure, label: "Blood Pressure", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Blood Pressure" %>
  </div>
   <div class="col-md-3"> 
     <%= f.input :nationality, label: "Nationality", input_html: { class: "form-control input-size_age" }, placeholder: "Enter Nationality" %>
     </div> 
   <div class="col-md-3">
    <%= f.input :civil_status, input_html: { class: "form-control" }, placeholer: "Enter civil status", as: :select, collection: Crew::CIVIL_STATUSES %>
    </div>

</div>


<div class="row crew_form">
  <div class="col-md-6">
    <%= f.input :distinguishing_marks, as: :text, input_html: { class: "form-control" } %>
  </div>
  <div class="col-md-3">
    <%= f.input :cloth_size, as: :select, input_html: { class: "form-control input-size_age" }, collection: Crew::UNIFORM_SIZES %>
  </div> 
  <div class="col-md-3">
       <%= f.input :shoe_size, label: "Shoe Size", input_html: { class: "form-control" }, placeholder: "Enter Shoe Size" %>
  </div>
</div>

<div class="row crew_form">
  <div class="col-md-3">
    <%= f.input :sss_no, label: "SSS No.", input_html: { class: "form-control" }, placeholder: "Enter SSS Number" %>
  </div> 
  <div class="col-md-3">
    <%= f.input :tin_no, label: "TIN No.", input_html: { class: "form-control" }, placeholder: "Enter TIN Number" %>
  </div>
  <div class="col-md-3">
    <%= f.input :pagibig_number, label: "Pag-ibig Number", input_html: { class: "form-control" }, placeholder: "Enter Pag-ibig Number" %>
  </div>
  <div class="col-md-3">
    <%= f.input :philhealth_number, label: "Philhealth Number", input_html: { class: "form-control" }, placeholder: "Enter Pag-ibig Number" %>
  </div>
</div>

<div class="row crew_form">
  <div class="col-md-4">
    <%= f.input :father_name, label: "Father's Name", input_html: { class: "form-control" }, placeholder: "Enter Father's Name" %>
  </div> 
  <div class="col-md-4">
    <%= f.input :mother_maiden_name, label: "Mother's Maiden Name", input_html: { class: "form-control" }, placeholder: "Enter Mother's Maiden Name" %>
  </div> 
   <div class="col-md-4">
    <%= f.input :spouse_name, label: "Spouse's Name", input_html: { class: "form-control" }, placeholder: "Enter Spouse's Name" %>
  </div> 
</div>
<div class="row crew_form">
  <div class="col-md-4">
    <%= f.input :number_of_children, label: "Number of Children", input_html: { class: "form-control" }, placeholder: "Enter Father's Name" %>
  </div> 
  <div class="col-md-3">
    <%= f.input :is_smoker, as: :radio_buttons, item_wrapper_class: "inline", label: "Are you a smoker?", input_html: { class: "form-inline" } %>
  </div> 
</div>

<div class="well">
  <div class="row crew_form">
     <div class="col-md-4">
         <%= f.input :nearest_relative_name, label: "Nearest Relative", input_html: { class: "form-control" }, placeholder: "Enter Nearest Ralative" %>
    </div>
     <div class="col-md-4">
         <%= f.input :nearest_relative_relationship, label: "Relationship", input_html: { class: "form-control" }, placeholder: "Enter Relationship" %>
    </div>
     <div class="col-md-4">
         <%= f.input :nearest_relative_address, label: "Address", input_html: { class: "form-control" }, placeholder: "Enter Address" %>
    </div>
  </div>
</div>
<h3>Educational Attainment</h3>
<%= render partial: "crews/form_educational_attainments", locals: { f: f } %>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= f.input :signature, as: :file %>
    <%= image_tag f.object.signature.url(:list) %>
  </div>
</div>
