<%= f.link_to_add "<i class='glyphicon glyphicon-plus'></i> Add Employment Record".html_safe, :employment_records, class: "btn btn-info" %>
<br><br>
<%= f.simple_fields_for :employment_records do |ff| %>
  <div class="well cform">
    <div class="row">
      <div class="col-md-4">
        <%= ff.association :vessel, label: "Vessel", as: :select, collection: Vessel.select("*").order(:name) %> 
      </div>
      <div class="col-md-4">
        <%= ff.input :other_vessel, placeholder: "Specify only if vessel not included in list." %>
      </div>
      <div class="col-md-4">
        <%= ff.association :rank, label: "Rank"  %>
      </div>
    </div>
    <div class="row">
    </div> 
    <div class="row crew_doc">
      <div class="col-md-3">
        <%= ff.association :manning_agent %>
      </div>
      <div class="col-md-3">
        <% if ff.object.sign_on.nil? %>
          <%= ff.input :sign_on, as: :string, input_html: { class: "datepick form-control" } %>
        <% else %>
          <%= ff.input :sign_on, as: :string, input_html: { value: ff.object.sign_on.strftime('%d-%B-%Y'),class: "datepick form-control" } %>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if ff.object.sign_off.nil? %>
          <%= ff.input :sign_off, as: :string, input_html: { class: "datepick form-control" } %>
        <% else %>
          <%= ff.input :sign_off, as: :string, input_html: { value: ff.object.sign_off.strftime('%d-%B-%Y'), class: "datepick form-control" } %>
        <% end %>
      </div>
      <div class="col-md-3">
         <%= ff.association :reason_for_disembarkation, label: "Reason of Disembarkation", input_html: { class: "form-control" }, placeholder: "Enter Reason"  %>
      </div>
    </div> 

    <h3>Other Vessel Information</h3>
    <div class="row">
      <div class="col-md-6">
        <%= ff.input :off_numb, label: "Official Number" %>
      </div>
      <div class="col-md-6">
        <%= ff.input :horse_power, label: "Horse Power" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= ff.input :engine_make, label: "Engine Make" %>
      </div>
      <div class="col-md-6">
        <%= ff.input :engine_model, label: "Engine Model" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= ff.input :grt, label: "GRT" %>
      </div>
      <div class="col-md-3">
        <%= ff.input :nrt, label: "NRT" %>
      </div>
      <div class="col-md-3">
        <%= ff.input :dwt, label: "DWT" %>
      </div>
      <div class="col-md-3">
        <%= ff.input :loa, label: "LOA" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= ff.input :breadth %>
      </div>
      <div class="col-md-6">
        <%= ff.input :depth %>
      </div>
    </div>

    <%= ff.link_to_remove "<i class='glyphicon glyphicon-minus'></i> Remove Record".html_safe, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
