<%= simple_nested_form_for crew, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f| %>


  <ul class="nav nav-tabs nav-justified">
    <li class="active"><%= link_to "General", "#biodata", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Education", "#educational-attainments", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Training Certificates", "#licenses", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Personal Documents", "#documents", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Vessel Evaluations", "#vessel-evaluations", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Office Evaluations", "#office-evaluations", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Employment", "#employment-record", "data-toggle" => "tab" %></li>
  </li>

  <div class="tab-content tab-content-inner">
    <div class="tab-pane active" id="biodata">
      <%= render partial: "crews/form_bio", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="educational-attainments">
      <%= render partial: "crews/form_educational_attainments", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="licenses">
      <%= render partial: "crews/form_licenses", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="employment-record">
      <%= render partial: "crews/form_employment_records", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="documents">
      <%= render partial: "crews/form_documents", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="vessel-evaluations">
      <%= render partial: "crews/form_crew_vessel_evaluation", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="office-evaluations">
      <%= render partial: "crews/form_crew_office_evaluation", locals: { f: f } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-actions">
      <%= f.submit "Save Record", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  initDatePicker();
  $(document).on('nested:fieldAdded', function() {
    initDatePicker();
  });
});
</script>
