<%= simple_nested_form_for crew, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} }, html: { multipart: true, novalidate: true } do |f| %>


  <ul class="nav nav-tabs nav-justified forw">
    <li class="active"><%= link_to "General", "#biodata", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Licenses", "#licenses", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Certificates", "#certificates", "data-toggle" => "tab" %></li>
    <li class=""><%= link_to "Personal Documents", "#documents", "data-toggle" => "tab" %></li>
    <% if current_user.user_type == "manager" %>
      <li class=""><%= link_to "Vessel Evaluations", "#vessel-evaluations", "data-toggle" => "tab" %></li>
      <li class=""><%= link_to "Office Evaluations", "#office-evaluations", "data-toggle" => "tab" %></li>
    <% end %>
    <li class=""><%= link_to "Employment", "#employment-record", "data-toggle" => "tab" %></li>
  </li>

  <div class="tab-content tab-content-inner">
    <div class="tab-pane active" id="biodata">
      <%= render partial: "crews/form_bio", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="licenses">
      <%= render partial: "crews/form_licenses", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="certificates">
      <%= render partial: "crews/form_certificates", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="employment-record">
      <%= render partial: "crews/form_employment_records", locals: { f: f } %>
    </div>
    <div class="tab-pane" id="documents">
      <%= render partial: "crews/form_documents", locals: { f: f } %>
    </div>
    <% if current_user.user_type == "manager" %>
      <div class="tab-pane" id="vessel-evaluations">
        <%= render partial: "crews/form_crew_vessel_evaluation", locals: { f: f } %>
      </div>
      <div class="tab-pane" id="office-evaluations">
        <%= render partial: "crews/form_crew_office_evaluation", locals: { f: f } %>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  initDatePicker();
  $(document).on('nested:fieldAdded', function() {
    initDatePicker();
  });
});

window.nestedFormEvents.insertFields = function(content, assoc, link) {
  var $div = $(link).closest('a');
  return $(content).insertAfter($div);
  /*
  if(assoc == "educational_attainments") {
    return $("#educational_attainments_records").prepend($(content).fadeIn("slow"));
  }
  else if(assoc == "licenses") {
    return $("#license_records").prepend($(content).fadeIn("slow"));
  }
  else if(assoc == "certificates") {
    return $("#certificate_records").prepend($(content).fadeIn("slow"));
  }
  else if(assoc == "documents") {
    return $("#document_records").prepend($(content).fadeIn("slow"));
  }
  */
}
</script>
