<%= f.link_to_add "<i class='glyphicon glyphicon-plus'></i> Add Educational Attainment".html_safe, :educational_attainments, class: "btn btn-info", data: { target: "#educational_attainments_records" } %>
<br><br>
<div id="educational_attainments_records">
  <%= f.simple_fields_for :educational_attainments do |ff| %>
    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <%= ff.input :year_graduated %>
        </div>
        <div class="col-md-4">
          <%= ff.input :school %>
        </div>
        <div class="col-md-4">
          <%= ff.input :course_finished %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= ff.link_to_remove "<i class='glyphicon glyphicon-minus'></i> Remove Record".html_safe, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>  
        </div>
      </div>
    </div>
  <% end %>
</div>
