<%= f.link_to_add "<i class='glyphicon glyphicon-plus'></i> Add Document".html_safe, :documents, class: "btn btn-info" %>
<br><br>
<div id="document_records">
  <%= f.simple_fields_for :documents do |ff| %>
    <div class="well cform">
      <div class="row">
        <div class="col-md-4">
          <%= ff.association :document_kind, input_html: { class: "form-control select-select2" }%>
        </div>
        <div class="col-md-4">
          <%= ff.input :doc_number, label: "Document Number", input_html: { class: "form-control" }, placeholder: "Enter Document Number" %>
        </div>
         <div class="col-md-4">
          <%= ff.input :issued_by, label: "Issued by", input_html: { class: "form-control" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
         <%= ff.input :issued_at, start_year: Date.today.year - 100 %>
        </div>
        <div class="col-md-6">
            <%= ff.input :expiry_date, start_year: Date.today.year + 100 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= ff.input :attachment, as: :file %>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
        <%= ff.input :is_reverting %>
      </div> 
      </div>

      <%= ff.link_to_remove "<i class='glyphicon glyphicon-minus'></i> Remove Record".html_safe, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>
