<%= f.link_to_add "<i class='glyphicon glyphicon-plus'></i> Add Document".html_safe, :documents, class: "btn btn-info" %>
<br><br>
<div id="document_records">
  <%= f.simple_fields_for :documents do |ff| %>
    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <%= ff.association :document_kind %>
        </div>
        <div class="col-md-4">
          <%= ff.input :doc_number, label: "Document Number", input_html: { class: "form-control" }, placeholder: "Enter Document Number" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <% if ff.object.issued_at.nil? %>
            <%= ff.input :issued_at, as: :string, input_html: { class: "datepick form-control" } %>
          <% else %>
            <%= ff.input :issued_at, as: :string, input_html: { value: ff.object.issued_at.strftime('%d-%B-%Y'), class: "datepick form-control" } %>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if ff.object.expiry_date.nil? %>
            <%= ff.input :expiry_date, as: :string, input_html: { class: "datepick form-control" } %>
          <% else %>
            <%= ff.input :expiry_date, as: :string, input_html: { value: ff.object.expiry_date.strftime('%d-%B-%Y'), class: "datepick form-control" } %>
          <% end %>
        </div>
        <div class="col-md-4">
        <%= ff.input :issued_by, label: "Issued by", input_html: { class: "form-control" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= ff.input :attachment, as: :file %>
        </div>
      </div>
      <%= ff.link_to_remove "<i class='glyphicon glyphicon-minus'></i> Remove Record".html_safe, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>
