<%= f.link_to_add "<i class='glyphicon glyphicon-plus'></i> Add Certificate".html_safe, :certificates, class: "btn btn-info" %>
<br><br>
<div id="certificate_records">
  <%= f.simple_fields_for :certificates do |ff| %>
    <div class="well cform">
      <div class="row">
        <div class="col-md-3">
          <%= ff.association :certificate_type, input_html: { class: "form-control select-select" } %>
        </div>
        <div class="col-md-3">
          <%= ff.association :certificate_category, input_html: { class: "form-control select-select2" } %>
        </div>
        <div class="col-md-3">
          <%= ff.input :certificate_number %>
        </div>
        <div class="col-md-3">
          <%= ff.association :flag, as: :select, collection: Flag.select("*").order(:name), input_html: { class: "select-select2 form-control" } %>
        </div>
      </div>
       <div class="row">
        <div class="col-md-6">
         <%= ff.input :date_issued %>
        </div>
        <div class="col-md-6">
         <%= ff.input :expiry_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= ff.input :issued_by %>
        </div>
        <div class="col-md-6">
          <%= ff.input :attachment, as: :file %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= ff.input :is_reverting %>
        </div>
      </div>
      <%= ff.link_to_remove "<i class='glyphicon glyphicon-minus'></i> Remove Record".html_safe, class: "btn btn-danger", data: { confirm: "Are you sure?" }  %>
    </div>
  <% end %>
</div>

