<h2>Documents</h2>
<hr>
<div>


<%= f.simple_fields_for :documents do |ff| %>
<div class="row">
  <div class="col-md-4">
    <%= ff.input :name, label: "Name", input_html: { class: "form-control" }, placeholder: "Enter Name" %> 
  </div>
  <div class="col-md-4">
  <%= ff.input :document_type, as: :select, collection: Document::DOC_TYPES %>
  </div>
  <div class="col-md-4">
  <%= ff.input :doc_number, label: "Document Number", input_html: { class: "form-control" }, placeholder: "Enter Document Number" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  <%= ff.input :issued_at %>
  </div>
  <div class="col-md-4">
  <%= ff.input :expiry_date %>
  </div>
  <div class="col-md-4">
  <%= ff.input :issued_by, label: "Issued by", input_html: { class: "form-control" } %>
  </div>
</div>
  <%= ff.link_to_remove "Remove Record", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
<% end %>
</div>
<%= f.link_to_add "Add Document", :documents, class: "btn btn-info" %>
