<div class="for_non_mobile">
  <div class="panel panel-success">
    <div class="panel-heading">
      <b>Active Crew</b>
      <%= link_to new_crew_path, class: "btn btn-default btn-xs", style: "float: right;" do %>
        <span class="glyphicon glyphicon-plus"></span> New Crew Record
      <% end %>
  
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>NUMBER</th>
          <th>NAME</th>
          <th>STATUS</th>
          <th>VESSEL</th>
          <th>RANK</th>
          <th>ACTIONS</th>
        </tr>
        <tr>
          <%= form_tag send("crews_path"), method: :get do |f| %>
            <td><%= text_field_tag :code_number, @code_number, class: "form-control", placeholder: "Search by Number" %></td>
            <td><%= text_field_tag :q, @q, class: "form-control", placeholder: "Search by Name" %></td>
            <td><%= select_tag :status, options_for_select(Crew::STATUSES, @status), prompt: "--SELECT--", class: "form-control select-select2" %></td>
            <td><%= select_tag :vessel_id, options_from_collection_for_select(Vessel.select("*").order(:name), :id, :name, @vessel.try(:id)), class: "form-control select-select2", prompt: "--SELECT--" %></td>
            <td><%= select_tag :rank_id, options_from_collection_for_select(Rank.all, :id, :name, @rank.try(:id)), prompt: "--SELECT--", class: "form-control select-select2" %></td>
            <td><%= submit_tag "Filter", class: "btn btn-info btn-block" %>
          <% end %>
        </tr>
      </thead>
      <% crews.each do |crew| %>
        <tr>
          <td><%= crew.code_number %></td>
          <td><%= link_to "#{crew.to_s_list}", crew_path(crew) %></td>
          <td><%= crew.status %></td>
          <td><%= crew.vessel %></td>
          <td><%= crew.rank %></td>
          <td>
            <%= link_to "Show", crew_path(crew), class: "btn btn-xs btn-info" %>
            <%= link_to "Edit", edit_crew_path(crew.id), class: "btn btn-xs btn-primary" if !current_user.is_principal? %>
            <%= link_to "Delete", crew_path(crew), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" if !current_user.is_principal? %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
</div>

<div class="for_mobile">
  <div class="pane panel-success">
    <div class="panel-heading">
      <b>Crew Count: <%= Crew.count %></b>
      <%= link_to new_crew_path, class: "btn btn-default btn-xs", style: "float: right;" do %>
            <span class="glyphicon glyphicon-plus"></span> New Crew Record
        <% end %>
    </div>
  <% crews.each do |crew| %>
  <table class="table table-bordered">
      <tr>
        <th>NUMBER</th>
        <td><%= crew.code_number %></td>
      </tr>
      <tr>
        <th>NAME</th>
        <td><%= link_to "#{crew.to_s_list}", crew_path(crew) %></td>
      </tr>
      <tr>
        <th>VESSEL</th>
        <td><%= crew.vessel %></td>
      </tr>
      <tr>
        <th>RANK</th>
        <td><%= crew.rank %></td>
      </tr>
      <tr>
        <th>ACTIONS</th>
        <td>
          <%= link_to "Show", crew_path(crew), class: "btn btn-xs btn-info" %>
          <%= link_to "Edit", edit_crew_path(crew.id), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete", crew_path(crew), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
  </table>
  <% end %>
</div>
  </div>
