<span class="tccounts">Total Crew Count: <%= Crew.count %></span>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>NAME</th>
      <th>NUMBER</th>
      <th>VESSEL</th>
      <th>RANK</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <% crews.each do |crew| %>
    <tr>
      <td><%= link_to "#{crew.to_s_list}", crew_path(crew) %></td>
      <td><%= crew.code_number %></td>
      <td><%= crew.vessel %></td>
      <td><%= crew.rank %></td>
      <td>
        <%= link_to "Show", crew_path(crew), class: "btn btn-xs btn-info" %>
        <%= link_to "Edit", edit_crew_path(crew.id), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete", crew_path(crew), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>

