<div class="row">
  <div class="col-md-2">
    <div class="box-image">
    <%= image_tag @crew.picture.url(:standard) %>
    </div>
  </div>
  <div class="col-md-4">
    <h2><%= @crew %> <small><%= @crew.code_number %></small></h2>
    <h3><%= @crew.rank %></h3>
    <div class="">
      <%= link_to edit_crew_path(@crew), class: "btn btn-xs btn-default" do %>
        <i class="glyphicon glyphicon-pencil"></i> Edit
      <% end %>
      <%= link_to crews_path, class: "btn btn-xs btn-default" do %>
        <i class="glyphicon glyphicon-folder-open"></i> Back to Crew List
      <% end %>
    </div>  
  </div>
  <div class="col-md-6">
    <%= render partial: "crews/show_download_report_filter", locals: { crew: @crew } %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-number">
    <tbody>
      <tr>
        <td>General Information</td>
      </tr>
    </tbody>
  </div>
</div>
<div class="row details">
  <div class="col-md-12">
    <table class="table table-bordered table-stripped">
      <tr>
        <td class="label-a">
          Vessel Assigned
        </td>
        <td class="label-b">
          <%= @crew.vessel %>
        </td>
         <td class="label-a">
          Age
        </td>
        <td class="label-b">
          <%= @crew.age %>
        </td>
      </tr>
      <tr>
        <td class="label-a">
          Home Address
        </td>
        <td class="label-b">
          <%= @crew.address %>
        </td>
         <td class="label-a">
          City Address
        </td>
        <td class="label-b">
          <%= @crew.city_address %>
        </td>
      </tr>
      <tr>  
        <td class="label-a">
          Provincial Address
        </td>
        <td class="label-b">
          <%= @crew.provincial_address %>
        </td>

         <td class="label-a">
          Zipcode
        </td>
        <td class="label-b">
          <%= @crew.zip_code %>
        </td>
      </tr>
      <tr>
        <td class="label-a">
           Birthday
        </td>
        <td class="label-b">
         <%= @crew.birthday %>
        </td>
        <td class="label-a">
         Birth Place
        </td>
        <td class="label-b">
          <%= @crew.birthplace %>
        </td>
      </tr>
      <tr>
       <td class="label-a">
          Telephone
        </td>
        <td class="label-b">
        <%= @crew.telephone_no %>
        </td>
        <td class="label-a">
         Cellphone
        </td>
        <td class="label-b">
          <%= @crew.cellphone_no %>
        </td>
      </tr>
      
      

    </table>
     <table class="table table-bordered table-stripped">
       <tr>
        <td class="label-a">
          Civil Status
        </td>
        <td class="label-b">
          <%= @crew.civil_status %>
        </td>
        <td class="label-a">
         Nationality
        </td>
        <td class="label-b">
          <%= @crew.nationality %>
        </td>
      </tr>
      <tr>
        <td class="label-a">
            Height
        </td>
        <td class="label-b">
          <%= @crew.height %>
        </td>
        <td class="label-a">
         Weight
        </td>
        <td class="label-b">
          <%= @crew.weight%>
        </td>
       </tr>
       <tr>
      <td class="label-a">
          Shoe Size
       </td>
       <td class="label-b">
        <%= @crew.shoe_size %>
        </td>

        <td class="label-a">
         Cloth Size
        </td>
        <td class="label-b">
          <%= @crew.cloth_size %>
        </td>   
      </tr>
      <tr>
       <td class="label-a">
          Eye Color
        </td>
        <td class="label-b">
          <%= @crew.eye_color %>
        </td>
        <td class="label-a">
          Distinguishing Marks
        </td>
        <td class="label-b">
          <%= @crew.distinguishing_marks %>
        </td>
      </tr>
      <tr>  
        <td class="label-a">
          Blood Type
        </td>
        <td class="label-b">
          <%= @crew.blood_type %>
        </td>

         <td class="label-a">
          Blood Pressure
        </td>
        <td class="label-b">
          <%= @crew.blood_pressure %>
        </td>
      </tr>
      <tr>  
        <td class="label-a">
          TIN Number
        </td>
        <td class="label-b">
          <%= @crew.tin_no %>
        </td>

         <td class="label-a">
          SSS Number
        </td>
        <td class="label-b">
          <%= @crew.sss_no %>
        </td>
      </tr>
       <tr>  
        <td class="label-a">
          Pag-ibig Number
        </td>
        <td class="label-b">
          <%= @crew.pagibig_number %>
        </td>
        <td class="label-a">
          Philhealth Number
        </td>
        <td class="label-b">
          <%= @crew.philhealth_number %>
        </td>
      </tr>
       
    </table>
  </div>
  
</div>


<div class="row details">
  <div class="col-md-12 nearest-rel">
    <table class="table table-bordered table-stripped">
      <tr>  
        <td class="label-a">
         Father's Name
        </td>
        <td class="label-b">
          <%= @crew.father_name %>
        </td>

         <td class="label-a">
          Mother's Maiden Name
        </td>
        <td class="label-b">
          <%= @crew.mother_maiden_name %>
        </td>
      </tr>
      <tr>  
        <td class="label-a">
         Spouse Name
        </td>
        <td class="label-b">
          <%= @crew.spouse_name %>
        </td>
         <td class="label-a">
          Number of Children
        </td>
        <td class="label-b">
          <%= @crew.number_of_children %>
        </td>
      </tr>
      <tr>  
        <td class="label-a">
         Are you a smoker?
        </td>
        <td class="label-b">
          <%= @crew.is_smoker %>
        </td>
      </tr>
    </table>
    <table class="table table-bordered table-stripped">
      <tr>  
        <td class="label-a">
          Nearest Relative Name
        </td>
        <td class="label-b">
          <%= @crew.nearest_relative_name %>
        </td>
      </tr>
      <tr>  
       <td class="label-a">
          Relationship
        </td>
        <td class="label-b">
          <%= @crew.nearest_relative_relationship %>
        </td>
      </tr>
      <tr>
        <td class="label-a">
          Address
        </td>
        <td class="label-b">
          <%= @crew.nearest_relative_address %>
        </td>
      </tr>
    </table>
  </div>
</div>



<div class="row details">
  <h2>EDUCATIONAL ATTAINMENT</h2>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "crews/educational_attainments", locals: { educational_attainments: @crew.educational_attainments } %>
    </div>
  </div>
</div>

<div class="row details">
  <div class="row">
    <div class="col-md-12">
      <h2>LICENSES</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "crews/licenses", locals: { licenses: @crew.licenses } %>
    </div>
  </div>
</div>

<div class="row details">
  <div class="row">
    <div class="col-md-12">
      <h2>PERSONAL DOCUMENTS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "crews/personal_documents", locals: { documents: @crew.documents } %>
    </div>
  </div>
</div>

<div class="row details">
  <div class="row">
    <div class="col-md-12">
      <h2>EMPLOYMENT RECORDS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "crews/employment_records", locals: { employment_records: @crew.employment_records } %>
    </div>
  </div>
</div>

<% if current_user.user_type == "manager" %>
  <div class="row details">
    <div class="row">
      <div class="col-md-12">
        <h2>VESSEL EVALUATIONS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "crews/vessel_evaluations", locals: { evaluations: @crew.crew_vessel_evaluations } %>
      </div>
    </div>
  </div>

  <div class="row details">
    <div class="row">
      <div class="col-md-12">
        <h2>OFFICE EVALUATIONS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "crews/office_evaluations", locals: { evaluations: @crew.crew_office_evaluations } %>
      </div>
    </div>
  </div>
<% end %>

<div class="row details">
  <h2>Signature</h2>
  <div class="col-md-12">
    <%= image_tag @crew.signature.url(:list) %>
  </div>
</div>
<hr>
<script>
function redirect_to_report()
{
  var report_type = $("#report_type").val();
  if(report_type == "misuga")
  {
    window.location = "<%= reports_misuga_url(@crew.id) %>";
  }
  else if(report_type == "baliwag")
  {
  }
}
</script>
