<div class="for_non_mobile">
  <div class="row details_crew">
    <div class="col-md-2">
      <div class="box-image">
      <%= image_tag @crew.picture.url(:standard) %>
      </div>
    </div>
    <div class="col-md-4">
      <h4><%= @crew.to_s_list %> <small><%= @crew.code_number %></small></h4>
      <h4><%= @crew.rank %><br> <small><%= @crew.status == 'ONBOARD' ? "#{@crew.status} - #{@crew.vessel}" : @crew.status %></small></h4>
      <h5><%= @crew.manning_agent %></h5>
      <% if !current_user.is_principal? %>
        <div class="">
          <%= link_to edit_crew_path(@crew), class: "btn btn-xs btn-default" do %>
            <i class="glyphicon glyphicon-pencil"></i> Edit
          <% end %>
          <%= link_to crews_path, class: "btn btn-xs btn-default" do %>
            <i class="glyphicon glyphicon-folder-open"></i> Back to Crew List
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render partial: "crews/show_download_report_filter", locals: { crew: @crew } %>
    </div>
  </div>
</div>

<div class="for_mobile">  
  <center>
    <div class="row details_crew">
      <div class="col-md-2">
        <div class="box-image">
           <%= image_tag @crew.picture.url(:standard) %>
        </div>
      </div>
      <div class="col-md-4" style="margin-bottom: 1%;">
        <h3><%= @crew %> <small><%= @crew.code_number %></small></h3>
        <h4><%= @crew.rank %> <small><%= @crew.status %></small></h4>
        <div class="">
          <%= link_to edit_crew_path(@crew), class: "btn btn-xs btn-default" do %>
            <i class="glyphicon glyphicon-pencil"></i> Edit
          <% end %>
          <%= link_to crews_path, class: "btn btn-xs btn-default" do %>
            <i class="glyphicon glyphicon-folder-open"></i> Back to Crew List
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <%= render partial: "crews/show_download_report_filter", locals: { crew: @crew } %>
      </div>
    </div>
  </center>
</div>

<div class="panel panel-info info">
  <div class="panel-heading">
    <b>General Information</b>
  </div>
  <div class="panel-body">
    <%= render partial: "crews/general_information", locals: { crew: @crew } %>
  </div>
</div>

<div class="panel panel-info info">
  <div class="panel-heading">
   <b>Educational Attainment</b>
  </div>
  <div class="panel-body">
    <%= render partial: "crews/educational_attainments", locals: { educational_attainments: @crew.educational_attainments } %>
  </div>
</div>

<div class="panel panel-info info">
 <div class="panel-heading">
  <b>Licenses</b>
 </div>
  <div class="panel-body">
    <%= render partial: "crews/licenses", locals: { licenses: @crew.licenses } %>
  </div>
</div>

<div class="panel panel-info info">
  <div class="panel-heading">
    <b>Certificates</b>
  </div>
  <div class="panel-body">
   <%= render partial: "crews/certificates", locals: { certificates: @crew.certificates } %>
  </div>
</div>

<div class="panel panel-info info">
  <div class="panel-heading">
    <b>Personal Documents</b>
  </div>
  <div class="panel-body">
    <%= render partial: "crews/personal_documents", locals: { documents: @crew.documents } %>
  </div>
</div>

<div class="panel panel-info info">
  <div class="panel-heading">
    <b>Employment Records</b>
  </div>
  <div class="panel-body">
    <%= render partial: "crews/employment_records", locals: { employment_records: @crew.employment_records_by_sign_on.reverse } %>
  </div>
</div>

<% if current_user.user_type == "manager" %>
  <div class="panel panel-info info">
    <div class="panel-heading">
      <b>Vessel Evaluations</b>
    </div>
    <div class="panel-body">
      <%= render partial: "crews/vessel_evaluations", locals: { evaluations: @crew.crew_vessel_evaluations } %>
    </div>
  </div>
  
  <div class="panel panel-info info">
    <div class="panel-heading">
      <b>Office Evaluations</b>
    </div>
    <div class="panel-body">
      <%= render partial: "crews/office_evaluations", locals: { evaluations: @crew.crew_office_evaluations } %>
    </div>
  </div>
<% end %>

<div class="for_non_mobile">
  <div class="panel panel-info info">
    <div class="panel-heading">
      <b>Signature</b>
    </div>
    <div class="panel-body">
      <%= image_tag @crew.signature.url(:list) %>
    </div>
  </div>
</div>

<div class="for_mobile">
  <div class="panel panel-info info">
    <div class="panel-heading">
      <b>Signature</b>
    </div>
    <div class="panel-body">
      <%= image_tag @crew.signature.url(:list) %>
    </div>
  </div>
</div>
<hr>
<script>
function redirect_to_report()
{
  var report_type = $("#report_type").val();
  if(report_type == "misuga")
  {
    window.location = "<%= reports_misuga_url(@crew.id) %>";
  }
  else if(report_type == "baliwag")
  {
  }
}
</script>
