<div id="latest_crew">
  <h4>Latest Added Crew <small><%= crew.created_at %></small></h4>
  <div class="well">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag crew.picture.url(:standard) %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
        <h3><%= crew %> <small><%= crew.code_number %></small></h3>
        <h4><%= crew.rank %></h4>
        <div class="">
          <%= link_to "Edit", edit_crew_path(crew), class: "" %> |
          <%= link_to "Go to Profile", crew_path(crew), class: "" %> |
          <%= link_to "Go to Database", crews_path %>
        </div>  
      </div>
    </div>
  </div>
</div>
