<h4 class="transmittal_pending">TRANSMITTAL RECORDS ON-TRANSIT STATUS</h4>

<table class="tdash table" style="border: 1px solid #e2e2e2;">
  <tr>
    <th>Vessels</th>
    <th>Destination</th>
    <th>Date of Departure</th>
    <th>Number of Embarking Crews</th>
    <th>Number of Disembarking Crews</th>
    <th>Number of Promotions</th>
    <th>Action</th> 
  </tr>
  <% @transmittal_ontransit_records.each do |transmittal_ontransit_record| %>
  <tr>
    <td class="ttd"> <%= transmittal_ontransit_record.vessel %></td>
    <td class="ttd"> <%= transmittal_ontransit_record.destination %> </td>
    <td class="ttd"> <%= transmittal_ontransit_record.date_of_departure %> </td>
    <td class="ttd1"> <%= transmittal_ontransit_record.transmittal_record_embarking_crews.count %></td>
    <td class="ttd1"> <%= transmittal_ontransit_record.transmittal_record_disembarking_crews.count %> </td>
    <td class="ttd1"> <%= transmittal_ontransit_record.transmittal_record_crew_promotions.count %> </td>
    <td class="ttd"><%= link_to "Show", transmittal_record_path(transmittal_ontransit_record), class: "btn btn-xs btn-primary" %></td>
  </tr>
  <% end %>
</table>


