<div class="row">
  <div class="col-md-6">
    <div class="principalUserDashboard" style="display: inline-block">
      <div style="float: left;">
        <%= image_tag current_user.avatar.url(:thumb) %>
      </div>
      <div style="float: left; margin-left: 20px;">
        <h4><%= current_user %> <br><small><%= @principal %></small></h4>
        <%= link_to "Edit Profile", "#", class: "btn btn-default btn-xs" %>
        <%= link_to "Change Password", "#", class: "btn btn-default btn-xs" %>
      </div>
    </div>
  </div>
</div>

<!-- display active crew and vessels -->
<div class ="row">
  <div class="col-md-6">
    <div class="basicBox">
      Active Vessels
      <%= @vessels.count %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="basicBox">
      Active Crew
      <%= @crews.count %>
    </div>
  </div>
</div>
