<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav my_nav">
      <li><%= link_to "DASHBOARD", root_path, class: "#{'active' if params[:controller] == 'pages'}" %></li> 
      <!-- DROPDOWN -->
      <li class="">
        <a href="<%= crews_path %>" class="<%= 'active' if params[:controller] == 'crews'%>">CREW LIST</a>
      </li>
      <li><%= link_to "VESSELS", vessels_path, class: "#{'active' if params[:controller] == 'vessels'}" %></li>
      <li>
        <%= link_to "PRINCIPALS", principals_path, class: "#{'active' if params[:controller] == 'principals'}" %>
      </li>
      <li class="">
        <a href="<%= transmittal_records_path %>" class="<%= 'active' if params[:controller] == 'transmittal_records' %>">TRANSMITTAL RECORDS</b></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle <%= 'active' if params[:controller] == 'reports' %>" data-toggle="dropdown">REPORTS<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Crew Manifest", reports_crew_manifest_path %></li>
        </ul>
      </li>
    </ul> 
    <div class="navbar-form navbar-right">
      <span class="login-text">Logged in as: <%= current_user.email %></span>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log-out?" }, class: "btn btn-danger" %>
    </div>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
