<div class="navs">
<nav class="row navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button data-toggle="collapse" class="navbar-toggle ocllapsed" type="button" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav my_nav">
      <li class="<%= params[:controller] == 'pages' && params[:action] ? 'active' : '' %>">
          <%= link_to root_path, class: "#{ params[:controller] == 'pages' and params[:action] ? 'active' : '' }" do %>
            <span class="glyphicon glyphicon-home"></span> DASHBOARD
          <% end %>
      </li>
      <!-- DROPDOWN -->

      <li class="<%= params[:controller] == 'crews' and params[:action] == 'index' ? 'active' : '' %>"> 
         <%= link_to crews_path, class: "#{ params[:controller] == 'crews' and params[:action] == 'index' ? 'active' : ''}" do %>
            <span class="glyphicon glyphicon-user"></span> CREW LIST
          <% end %>
      </li>

      <li class="<%= params[:controller] == 'crews' and params[:action] == 'advanced_search' ? 'active' : '' %>"> 
         <%= link_to crews_advanced_search_path, class: "#{ params[:controller] == 'crews' and params[:action] == 'advanced_search' ? 'active' : '' }" do %>
            <span class="glyphicon glyphicon-search"></span> ADVANCED SEARCH
          <% end %>
      </li>
  
      <li class="<%= params[:controller] == 'vessels' ? 'active' : '' %>"> 
         <%= link_to vessels_path, class: "#{params[:controller] == 'vessels' ? 'active' : ''}" do %>
            <span class="icon-flag"></span> VESSELS
          <% end %>
      </li>
      <% if !current_user.is_principal? %>

        <li class="<%= params[:controller] == 'principals' ? 'active' : '' %>"> 
           <%= link_to principals_path, class: "#{params[:controller] == 'principals' ? 'active' : '' }" do %>
              <span class="icon-user"></span> PRINCIPAL
            <% end %>
        </li>

         <li class="<%= params[:controller] == 'transmittal_records' ? 'active' : '' %>"> 
           <%= link_to transmittal_records_path, class: "#{params[:controller] == 'transmittal_records' ? 'active' : '' }" do %>
              <span class="glyphicon glyphicon-list-alt"></span> TRANSMITTAL RECORDS
            <% end %>
          </li>

        <li class="<%= params[:controller] == 'reports' ? 'active' : '' %>"> 
          <%= link_to reports_crew_manifest_path, class: "#{params[:controller] == 'reports' ? 'active' : ''}" do %>
            <span class="icon-copy"></span> CREW MANIFEST
          <% end %>
        </li>
      <% end %>

    </ul> 
    <div class="navbar-form navbar-right">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-off"></span>
          Settings
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><%= link_to "Change Password", edit_account_user_path(current_user, change_password: true) %>
          <li role="presentation"><%= link_to "Profile", account_user_path(current_user) %></li>
          <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
</nav>
</div>

<div class="dropdown drop_nav">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     DASHBOARD
  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
      <%= link_to root_path do %>
         <span class="glyphicon glyphicon-home"></span> DASHBOARD
      <% end %>
   </li>
    <li role="presentation">
      <%= link_to crews_path do %>
        <span class="glyphicon glyphicon-user"></span> CREW LIST
      <% end %>
    </li>
    <li role="presentation">
     <%= link_to crews_advanced_search_path do %>
      <span class="glyphicon glyphicon-search"></span> ADVANCED SEARCH
     <% end %>
    </li>
    <li role="presentation">
      <%= link_to crews_advanced_search_path do %>
        <span class="icon-flag"></span> VESSELS
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to principals_path do %>
        <span class="icon-user"></span> PRINCIPAL
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to principals_path do %>
        <span class="icon-user"></span> PRINCIPAL
      <% end %>
    </li>

     <li role="presentation">
      <%= link_to transmittal_records_path do %>
        <span class="glyphicon glyphicon-list-alt"></span> TRANSMITTAL RECORDS
      <% end %>
    </li>

     <li role="presentation">
      <%= link_to reports_crew_manifest_path do %>
         <span class="icon-copy"></span> CREW MANIFEST
      <% end %>
    </li>


    <li role="presentation" class="divider"></li>
    <li role="presentation">  <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log-out?" }, class: "btn btn-danger" %></li>
  </ul>
</div>



