<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-stripped">
      <tr>
        <th> NAME </th>
        <th> FLAG </th>
        <th> VESSEL TYPE </th>
        <th> HORSE POWER </th>
        <th> ENGINE MAKE </th>
      </tr>
      <% @vessels.each do |vessel| %>
        <tr>  
          <td><%= vessel.name %></td>
          <td><%= vessel.flag %></td>
          <td><%= vessel.vessel_type %></td>
          <td><%= vessel.horse_power %></td>
          <td><%= vessel.engine_make %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4">
    FILTER
  </div>
</div>

