<div class="row">
  <div class="col-md-12">
    <h1><%= @vessel %> <small><%= @vessel.code %></small></h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12 vessel_show">
    <ul class="nav nav-tabs nav-justified vshow">
      <li class="active"><%= link_to "Details", "#details", "data-toggle" => "tab" %></li>
      <li class=""><%= link_to "Current Crew", "#current-crew", "data-toggle" => "tab" %></li>
    </ul>
    <div class="tab-content tab-content-inner">
      <div class="tab-pane active" id="details">
        <%= render partial: "vessels/details", locals: { vessel: @vessel } %>
      </div>
      <div class="tab-pane" id="current-crew">
        <%= render partial: "crews/list", locals: { crews: @vessel.crews } %>
      </div>
    </div>
  </div>
</div>
