<%= render partial: "vessels/crew_list_modal" %>
<div id="vessels">
  <div class="panel panel-info">
   <div class="panel-heading">
      <b><%= @vessel.name %></b>
   </div>

   <div class="panel-body">
    <div class="row">
      <%= render partial: "vessel", locals: { vessel: @vessel } %>
    </div>

  <div class="row">
    <div class="col-md-12 vessel_show">
      <ul class="tabs1 group">
        <li><%= link_to "Details", "#/one1", class: "active" %></li>
        <li><%= link_to "Current Crew", "#/two1" %></li>
      </ul>
      <div id="panel1">
        <span id="one1">
           <%= render partial: "vessels/details", locals: { vessel: @vessel } %>
        </span>
        <span id="two1">
          <%= render partial: "reports/crew_manifest_list", locals: { crews: Crew.all_by_vessel(@vessel), license_types: [], document_kinds: DocumentKind.where(is_default: true), certificate_types: [] } %>
        </span>
    </div>
 </div>
    </div>
  </div>
</div>
</div>
</div>

<script>
  var tabs1 =  $(".tabs1 li a");
  
  tabs1.click(function() {
    var panel1 = this.hash.replace('/','');
    tabs1.removeClass("active");
    $(this).addClass("active");
    $("#panel1").find('span').hide();
    $(panel1).fadeIn(200);
  });
</script>
