<%= f.simple_fields_for :transmittal_record_disembarking_crews do |ff| %>
  <div class="row" class="disembarkingCrews">
    <div class="col-md-12">
      <div class="well">
        <div class="row">
          <div class="col-md-3">
            <%= ff.association :crew, collection: f.object.vessel.crews, input_html: { class: 'form-control select-select2 disembarking-crews', id: "disembarking-crews" } %>
          </div>
          <div class="col-md-3">
            <%= ff.association :manning_agent, input_html: { class: 'form-control select-select2' } %>
          </div>
          <div class="col-md-2">
            <%= ff.association :reason_for_disembarkation, label: "Reason", input_html: { class: 'form-control select-select2' } %>
          </div>
          <div class="col-md-2">
            <%= ff.input :date_embarked, as: :string, input_html: { class: "form-control datepick" } %>
          </div>
          <div class="col-md-2">
            <%= ff.input :sign_off, as: :string, input_html: { class: "form-control datepick" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= ff.link_to_remove "Remove Record", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <%= f.link_to_add "Add Disembarking Crew", :transmittal_record_disembarking_crews, class: "btn btn-info" %>
  </div>
</div>
