<div class="well">
  <%= form_tag send("transmittal_records_path"), method: :get do |f| %>
    <div class="row">
      <div class="col-md-3 byvessel">
        <%= select_tag :vessel_id, options_from_collection_for_select(Vessel.select("*").order(:name), :id, :name, @vessel.try(:id)), class: "form-control", prompt: "By Vessel" %>
      </div>
      <div class="col-md-3 bystat">
        <%= select_tag :status, options_for_select(TransmittalRecord::STATUSES, @status),  prompt: "By Status", class: "form-control" %>
      </div>
      <div class="col-md-3 bydestination">
        <%= select_tag :destination, options_for_select(TransmittalRecord.select(:destination).map(&:destination).uniq, @destination), prompt: "By Destination", class: "form-control" %>
      </div>
      <div class="col-md-3 sb">
        <%= submit_tag "Search", class: "btn btn-info btn-block" %>
      </div>
    </div>
  <% end %>
</div>
