<div class="panel panel-success">
  <div class="panel-heading">
    <div class="row">
      <b>
          <%= @transmittal_record.vessel %> TRANSMITTAL RECORD <span class="status <%= @transmittal_record.status %>"><%= @transmittal_record.status %></span>
      </b>
        <div style="float: right;">
          <% if @transmittal_record.status == "pending" %>
            <%= link_to "Edit", edit_transmittal_record_path(@transmittal_record), class: "btn btn-xs btn-default edit" %>
          <% end %>
          <%= link_to "Download", generate_transmittal_record_path(@transmittal_record), class: "btn btn-xs btn-default" %>
          <%= link_to "Back to Database", transmittal_records_path, class: "btn btn-default btn-xs" %>
          <% if @transmittal_record.status == "pending" %>
            <%= link_to "Approve", transmittal_record_approve_path(@transmittal_record), class: "btn btn-xs btn-success", method: :post, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="panel-body">
    <h3>Embarking Crew</h3>
    <%= render partial: "transmittal_records/embarking_crews", locals: { transmittal_record: @transmittal_record } %>

    <h3>Disembarking Crew</h3>
    <%= render partial: "transmittal_records/disembarking_crews", locals: { transmittal_record: @transmittal_record } %>

    <h3>Crew for Promotion</h3>
    <%= render partial: "transmittal_records/crews_for_promotion", locals: { crews: @transmittal_record.transmittal_record_crew_promotions } %>

    <%= render partial: "transmittal_records/destination_view", locals: { transmittal_record: @transmittal_record } %>

    <%= render partial: "transmittal_records/signatories", locals: { transmittal_record: @transmittal_record } %>
  </div>
</div>
