<div class="for_non_mobile">
  <div class="row well trans">
    <div class="col-md-9">
      <h1>Transmittal Record <small><%= @transmittal_record.transmittal_code %></small> <span class="status <%= @transmittal_record.status %>"><%= @transmittal_record.status %></span></h1>
    </div>
    <div class="col-md-3 trans">
      <div style="padding-top: 35px; text-align: right;">
        <% if @transmittal_record.status == "pending" %>
          <%= link_to "Edit", edit_transmittal_record_path(@transmittal_record), class: "btn btn-xs btn-default edit" %>
        <% end %>
        <%= link_to "Download", generate_transmittal_record_path(@transmittal_record), class: "btn btn-xs btn-default" %>
        <%= link_to "Back to Database", transmittal_records_path, class: "btn btn-default btn-xs" %>
      </div>
    </div>
  </div>
</div>

<div class="for_mobile">
  <div class="row well trans">
    <div class="col-md-9">
      <h1>Transmittal Record <small><%= @transmittal_record.transmittal_code %></small> <span class="status <%= @transmittal_record.status %>"><%= @transmittal_record.status %></span></h1>
    </div>
      <div class="col-md-3 trans_mobile">
        <div style="padding-top: 35px; text-align: right;">
          <% if @transmittal_record.status == "pending" %>
            <%= link_to "Edit", edit_transmittal_record_path(@transmittal_record), class: "btn btn-xs btn-default edit" %>
          <% end %>
          <%= link_to "Download", generate_transmittal_record_path(@transmittal_record), class: "btn btn-xs btn-default" %>
          <%= link_to "Back to Database", transmittal_records_path, class: "btn btn-default btn-xs" %>
        </div>
      </div>
  </div>
</div>

<div class="basicBox">
  <h3>Embarking Crew</h3>
  <%= render partial: "transmittal_records/embarking_crews", locals: { transmittal_record: @transmittal_record } %>

  <h3>Disembarking Crew</h3>
  <%= render partial: "transmittal_records/disembarking_crews", locals: { transmittal_record: @transmittal_record } %>

  <h3>Crew for Promotion</h3>
  <%= render partial: "transmittal_records/crews_for_promotion", locals: { crews: @transmittal_record.transmittal_record_crew_promotions } %>

  <%= render partial: "transmittal_records/destination_view", locals: { transmittal_record: @transmittal_record } %>

  <%= render partial: "transmittal_records/signatories", locals: { transmittal_record: @transmittal_record } %>
</div>
