<table class="table table-bordered well cmanifest">
  <tr>
    <th>No.</th>
    <th style="width: 20%;">Name</th>
    <th>Date of Birth</th>
    <th>Rank</th>
    <th>Date of Embarkation</th>
    <% license_types.each do |lt| %>
      <th><%= lt %></th>
    <% end %>
    <% certificate_types.each do |ct| %>
      <th><%= ct %></th>
    <% end %>
  </tr>
  <% crews.each_with_index do |crew, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= crew %></td>
      <td><%= crew.birthday %></td>
      <td><%= crew.rank %></td>
      <td><%= crew.sign_on %></td>
      <% license_types.each do |lt| %>
        <% l = crew.licenses.where(license_type_id: lt.id).first %>
        <td><%= "#{l.license_number} - #{l.expiry_date}" if !l.nil? %></td>
      <% end %>
      <% certificate_types.each do |ct| %>
        <% c = crew.certificates.where(certificate_type_id: ct.id).first %>
        <td><%= "#{c.certificate_number} - #{c.expiry_date}" if !c.nil? %></td>
      <% end %>
    </tr>
  <% end %>
</table>
