<div class="well dlreport">
  <%= form_tag reports_download_crew_manifest_path, method: :post do |f| %>
    <%= hidden_field_tag :vessel_id, @vessel.id %>
    <%= hidden_field_tag :crews, @crews.map{|c| c.id} %>
    <%= hidden_field_tag :license_type_ids, @license_types.map{|l| l.id} %>
    <%= submit_tag "Download", class: "btn btn-primary" %>
  <% end %>
</div>
