<table class="table_report">
  <tr>
    <th>No.</th>
    <th style="width: 20%;">Name</th>
    <th>Date of Birth</th>
    <th>Rank</th>
    <th>Date of Embarkation</th>
    <% license_types.each do |lt| %>
      <th><%= lt %></th>
    <% end %>
    <% certificate_types.each do |ct| %>
      <th><%= ct %></th>
    <% end %>
    <% document_kinds.each do |dk| %>
      <th><%= dk %></th>
    <% end %>
    <th>Expected Date of Relief</th>
  </tr>
  <% crews.each_with_index do |crew, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= crew %></td>
      <td><%= crew.birthday %></td>
      <td><%= crew.rank %></td>
      <td><%= crew.sign_on.strftime("%d-%b-%Y") if !crew.sign_on.nil?%></td>
      <% license_types.each do |lt| %>
        <% l = crew.licenses.where(license_type_id: lt.id).first %>
        <td><%= "#{l.license_number} - #{l.expiry_date}" if !l.nil? %></td>
      <% end %>
      <% certificate_types.each do |ct| %>
        <% c = crew.certificates.where(certificate_type_id: ct.id).first %>
        <td><%= "#{c.certificate_number} - #{c.expiry_date}" if !c.nil? %></td>
      <% end %>
      <% document_kinds.each do |dk| %>
        <% d = crew.documents.where(document_kind_id: dk.id).first %>
        <td>
          <% if !d.nil? %>
            <% if d.reverting? %>
              REVERTING
            <% else %>
              <%= "#{d.doc_number} - #{d.expiry_date}" %>
            <% end %>
          <% end %>
        </td>
      <% end %>
      <td style="background-color: <%= crew.manifest_status_color %>;">
        <%= (crew.sign_on + 9.months).strftime("%d-%b-%Y") if !crew.sign_on.nil? %>
      </td>
    </tr>
  <% end %>
</table>
