<!DOCTYPE html>
<html>
<head>
  <title>Personnel Information System</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <%= render partial: "shared/navigation" %>
  <div class="container">
    <div id="main">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "shared/notification" %>
        </div>
      </div>
      <%= yield %>
    </div>
  </div>
  <%= render partial: "shared/footer" %>
</body>
</html>
